[submodule "submodules/mlx"]
	path = Source/Cmlx/mlx
	url = https://github.com/osaurus-ai/mlx
[submodule "submodules/mlx-c"]
	path = Source/Cmlx/mlx-c
	url = https://github.com/osaurus-ai/mlx-c
[submodule "submodules/highway"]
	path = Source/Cmlx/highway
	url = https://github.com/google/highway
